# Python
__pycache__/
*.pyc

# Django
db.sqlite3
*.log
.env

# macOS
.DS_Store

# VSCode
.vscode/

# migrations
**/migrations/
!**/migrations/__init__.py

# static
static/heatmaps/
static/trainplot/

# testenv虛擬環境
testenv/