# Python
__pycache__/
*.pyc

# Django
db.sqlite3
*.log
.env

# macOS
.DS_Store

# VSCode
.vscode/

# migrations
**/migrations/
!**/migrations/__init__.py

# 忽略這兩個資料夾裡的所有檔案
static/heatmaps/*
static/trainplot/*
static/plt/*

# 但保留 .gitkeep 檔案
!static/heatmaps/.gitkeep
!static/trainplot/.gitkeep
!static/plt/.gitkeep

# testenv虛擬環境
testenv/
webenv/