<!-- 導覽列區塊：顯示虛擬量測平台的功能頁面連結 -->
<nav class="navbar navbar-expand-sm" style="background-color: #FFC0CB;">
    <div class="container-fluid">
        <!-- 網站品牌名稱，點擊可回首頁 -->
        <a class="navbar-brand fs-3 text-success" href="/">虛擬量測平台</a>
        <!-- 手機版導覽列折疊按鈕 -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <!-- 功能頁面連結 -->
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <!-- 首頁連結 -->
                    <a class="nav-link fs-5 active text-danger" href="{% url 'home' %}">🏠首頁</a>
                </li>
                <li class="nav-item">
                    <!-- 模型訓練頁面 -->
                    <a class="nav-link fs-5 text-dark" href="{% url 'train' %}">模型訓練</a>
                </li>
                <li class="nav-item">
                    <!-- 測試模型頁面 -->
                    <a class="nav-link fs-5 text-dark" href="{% url 'test' %}">測試模型</a>
                </li>
                <li class="nav-item">
                    <!-- 模型管理頁面 -->
                    <a class="nav-link fs-5 text-dark" href="{% url 'models' %}">模型管理</a>
                </li>
                <li class="nav-item">
                    <!-- 顯示結果頁面 -->
                    <a class="nav-link fs-5 text-dark" href="{% url 'results' %}">顯示結果</a>
                </li>
            </ul>
        </div>
    </div>
</nav>